@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@keyframes titulo {
    0% {color: white;}
    25% {color: fuchsia;}
    50% {color: blue;}
    100% {color: white;}
}

body {
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    color: white;
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
}

.app {
    width: 60%;
    padding: 40px;
    border: solid fuchsia 0.125em;
    box-shadow: 0 0 1em 0 fuchsia;
}

@media (max-width:768px) {
    .app {
      width: 90%;
      border: solid fuchsia 0.125em;
      box-shadow: 0 0 1em 0 fuchsia;
    }
}

.inicio__tareas {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 20px 20px 0px 20px;
    align-content: center;
    align-items: center;
}

#titulo {
    font-family: 'Press Start 2P', cursive;
    padding: none;
    animation: titulo;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

#form_nueva_tarea {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: center;
    align-items: center;
    column-gap: 1px;
    padding: 20px;
}

#input_nueva_tarea {
    border: none;
    background-color: #202020;
    font-size: 18px;
    color: white;
    padding: 10px;
    width: 90%;
}

#btnAgregar {
    border: none;
    color: white;
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#btnAgregar:hover {
    opacity: 40%;
}

#btnCancelar {
    border: none;
    color: white;
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#btnCancelar:hover {
    opacity: 40%;
}

#misTareas:hover {
    font-size: 150%;
}

.app ul {
    list-style: none;
    padding: 0;
}
  
.app ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
    padding: 10px;
    background-color: black;
}
  
.check {
    width: 0.8em;
    height: 0.8em;
    cursor: pointer;
    border-radius: 50%;
    background-color: black;
    border: 1px solid fuchsia;
    box-shadow: 0 0 0.5em 0 fuchsia;
    -webkit-appearance: none;
}
  
.check:checked {
    background-color: blue;
}
  
.tarea {
    font-size: 18px;
    border: none;
    background-color: #202020;
    font-size: 18px;
    color: white;
    padding: 10px;
    width: 90%;
}
  
.tarea:focus {
    outline: none;
}
  
.app ul li i {
    float: right;
    cursor: pointer;
}
  
.app ul li i:hover {
    color: fuchsia;
}

.completed {
    color: blue;
    text-decoration: line-through;
  }


/* Estilos tareas agregadas */

.tarea {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: center;
    align-items: center;
    column-gap: 1px;
    padding: 20px;
}

input {
    border: none;
    background-color: #202020;
    font-size: 18px;
    color: white;
    padding: 10px;
    width: 90%;
}

.edit {
    border: none;
    color: white;
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.edit:hover {
    opacity: 40%;
}

.delete {
    border: none;
    color: white;
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.delete:hover {
    opacity: 40%;
}
